// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-form
  border: solid #f7f7f9
  padding: 20px
  max-width: 600px
  margin: 30px 30px 30px 0