.list-group > a.disabled {
  font-weight: bold;
  font-size: 1.5em;
  color: darkslategray;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
  text-decoration: none;
  cursor: default;
  color:inherit;
}